wsdl/recaudo.wsdl

<?xml version="1.0"?>
<definitions name="serviceSOAP" targetNamespace="http://localhost/phpapplication/serviceSOAP.php" xmlns:tns="http://localhost/phpapplication/serviceSOAP.php" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema targetNamespace="http://localhost/phpapplication/serviceSOAP.php">
      <xsd:element name="Recaudo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ID_RECAUDO" type="xsd:int"/>
            <xsd:element name="ID_CLIENTE_RECAUDO" type="xsd:int"/>
            <xsd:element name="ID_FACTURA_RECAUDO" type="xsd:int"/>
            <xsd:element name="VALOR_RECAUDO" type="xsd:int"/>
            <xsd:element name="ESTADO_RECAUDO" type="xsd:string"/>
            <xsd:element name="ESTADO_ENVIO" type="xsd:string"/>
            <xsd:element name="FECHA_RECAUDO" type="xsd:date"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RecaudoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="resultado" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="RecaudoRequest">
    <part name="parameters" element="tns:Recaudo"/>
  </message>
  <message name="RecaudoResponse">
    <part name="parameters" element="tns:RecaudoResponse"/>
  </message>
  <portType name="RecaudoPortType">
    <operation name="obtenerRecaudosPendientes">
      <input message="tns:RecaudoRequest"/>
      <output message="tns:RecaudoResponse"/>
    </operation>
  </portType>
  <binding name="RecaudoBinding" type="tns:RecaudoPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="obtenerRecaudosPendientes">
      <soap:operation soapAction="http://localhost/phpapplication/serviceSOAP.php#obtenerRecaudosPendientes"/>
      <input>
        <soap:body use="encoded" namespace="http://localhost/phpapplication/serviceSOAP.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="http://localhost/phpapplication/serviceSOAP.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="serviceSOAP">
    <port name="RecaudoPort" binding="tns:RecaudoBinding">
      <soap:address location="http://localhost/phpapplication/serviceSOAP.php"/>
    </port>
  </service>
</definitions>
